<div class="row justify-content-center">
  <div class="col-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="exampleInputEmail">Email address</label>
        <input type="email" class="form-control" name="email" formControlName="email"
               id="exampleInputEmail">
      </div>

      <div class="form-group">
        <label for="currentPass">Current password</label>
        <input type="password" class="form-control" name="currentPass" formControlName="currentPass"
               id="currentPass">
      </div>

      <div class="form-group">
        <label for="newPass">New password</label>
        <input type="password" class="form-control" name="newPass" formControlName="newPass"
               id="newPass">
      </div>

      <div class="form-group">
        <label for="newPass2">Repeat new password</label>
        <input type="password" class="form-control" name="newPass2" formControlName="newPass2"
               id="newPass2">
      </div>

      <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Submit</button>
    </form>

    <p>Validation status: {{ form.status }}</p>
  </div>
</div>
